#Fundador {
  background-color: #f3f4f6;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 1400px;       
  height: 1000px;   
  overflow: auto;   
  margin: 0;
}

/* Esto es para ocultar la barra */
#Fundador::-webkit-scrollbar {
  display: none; 
}

/* Hermano general*/
h2 ~ p {
  color: rgb(97, 103, 97);
}

/*Descendiente */
form input {
  border: 1px solid #6f858e;
}

/*Adyacente */ 
blockquote + blockquote {
    margin-top: 20px;
    color: #819ca2;
    font-style: italic;
}

/*Hijos directos */
.table thead > tr > th {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 8px;
}

.table tbody > tr > td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}





ul li a:active {
    color: rgb(220, 165, 28);
}


/*Pseudo clase estructural*/
nav li:first-child {
    font-style: oblique;
}

/*Pseudo clase estructural*/
h2:not(.tituloSecundario) {
    color: rgb(67, 67, 83);
    margin-top: 1rem;
}

/*Pseudo clase estructural*/
.table tbody tr:last-child {
    opacity: 0.83;
}


.container aside  {
  padding: 10px !important;
  font-style: bold !important;
}


nav.container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav.container ul li a {
    text-decoration: none;
    color: #868484;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

nav.container ul li a:hover {
    background: #d8f77c;
    color: #111;
    transform: scale(1.05);
}
/* b5b5b5*/



#seccion7 {
  padding: 20px;
  background: #f9f9f9;
  border-radius: 12px;
  width: 100%;
  margin: 40px auto;
}

#seccion7 h2{
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

#seccion7 .badge {
  display: inline-block;
  background: rgb(255, 248, 205);
  color: black;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 8px;
  margin-left: 10px;
  font-size: 0.9rem;
  margin-top: 220px;
  border: 1px solid #f6fed8;

}


#seccion7 .row {
  display: flex;
  gap: 20px;
  overflow-x: auto;       
  scroll-snap-type: x mandatory;
  padding: 10px;
  overflow: visible;
  list-style: none;
}

#seccion7 .card {
  min-width: 200px;        
  max-width: 250px;        
  flex: 0 0 auto;
  background: white;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  scroll-snap-align: start;
  text-align: center;
}

#seccion7 .imgMVP {
  width: 80%;        
  height: 180px;  
  object-fit: cover;  
  border-radius: 8px;
  margin: 0 auto;
  
}